@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
   --Green-lighter: hsl(148, 38%, 91%);
   --Green-medium: hsl(169, 82%, 27%);
   --Green-darker: hsl(173, 83%, 14%);
   --Red: hsl(0, 66%, 54%);
   --White: hsl(0, 0%, 100%);
   --Grey-medium: hsl(186, 15%, 59%);
   --Grey-darker: hsl(187, 24%, 22%);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Karla', sans-serif;
   background-color: var(--Green-lighter);
   display: grid;
   place-content: center;
   min-height: 100vh;
   color: var(--Grey-darker);
}

main {
   display: grid;
   place-content: center;
}

span {
   color: var(--Green-medium);
   font-weight: bold;
   margin-left: 0.25rem;
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   display: none;
}

.modal {
   display: none;
   place-content: center;
   position: fixed;
   top: 30%;
   left: 50%;
   border-radius: 10px;
   max-width: 500px;
   overflow: hidden;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   transition: all 0.3s ease-in-out;
   transform: translateX(-50%);
}

.modal__content {
   background-color: var(--Grey-darker);
   color: var(--White);
   padding: 2rem;
   border-radius: 10px;
}

.close-btn {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 1.5rem;
   background-color: transparent;
   border: none;
   cursor: pointer;
   color: var(--White);
   transition: color 0.2s ease-in-out;
}

.close-btn:hover {
   color: var(--Red);
}


.heading {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   margin-bottom: 0.5rem;
}

.heading img {
   width: 20px;
   height: 20px;
}

.heading h2 {
   font-size: 1.15rem;
}

.heading span {
   font-size: 0.75rem;
}

p {
   font-size: 0.9rem;
}

.form-container {
   max-width: 800px;
   padding: 2rem;
   background-color: var(--White);
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   margin: 2rem;
}

.form-container h1 {
   margin-bottom: 1rem;
   font-size: 1.5rem;
}

.name__section {
   display: flex;
   gap: 1rem;
}

.names {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.names label {
   margin-bottom: 0.5rem;
}

.names input {
   padding: 0.75rem 1rem;
   border: 1px solid var(--Grey-medium);
   border-radius: 5px;
   font-size: 1rem;
   outline: none;

}

.names input:hover,
.names input:focus {
   border-color: var(--Green-medium);
}

.email {
   margin-top: 1rem;
}

.email label {
   margin-bottom: 0.5rem;
   display: block;
}

.email input {
   padding: 0.75rem 1rem;
   border: 1px solid var(--Grey-medium);
   border-radius: 5px;
   font-size: 1rem;
   outline: none;
   width: 100%;
}

.email input:hover,
.email input:focus {
   border-color: var(--Green-medium);
}

.query-type {
   margin-top: 1rem;
}

.query-container {
   margin-top: .5rem;
   display: flex;
   gap: 1rem;
   width: 100%;
}

.query {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   border: 1px solid var(--Grey-medium);
   border-radius: 5px;
   cursor: pointer;
   width: 100%;
   padding: 0.75rem 1rem;

}

.query:hover,
.query:focus {
   border-color: var(--Green-medium);
}


.query input {
   width: 15px;
   height: 15px;
}

.query input[type="radio"] {
   accent-color: var(--Green-medium);
}

.query input:checked+.query {
   background-color: var(--Green-lighter);
}

.message {
   margin-top: 1rem;
}

.message label {
   margin-bottom: 0.5rem;
   display: block;
}

.message textarea {
   padding: 0.75rem 1rem;
   border: 1px solid var(--Grey-medium);
   border-radius: 5px;
   outline: none;
   width: 100%;
   min-height: 100px;
   resize: none;
}

.consent {
   margin-top: 1rem;
   display: flex;
   align-items: center;
   gap: 0.5rem;
}

.consent input {
   accent-color: var(--Green-medium);
   width: 13px;
   height: 13px;
}



.consent label {
   cursor: pointer;
}

.error {
   color: var(--Red);
   font-size: 0.75rem;
   margin-top: 0.25rem;
}

.submit-btn {
   margin-top: 1rem;
   padding: 0.75rem 1rem;
   border: none;
   border-radius: 5px;
   background-color: var(--Green-medium);
   color: var(--White);
   font-size: 1rem;
   cursor: pointer;
   width: 100%;
   font-family: 'Karla', sans-serif;
}

.submit-btn:hover {
   background-color: var(--Green-darker);
}

@media screen and (max-width: 600px) {
   .form-container {
      padding: 1rem;
   }

   .name__section {
      flex-direction: column;
   }

   .names {
      width: 100%;
   }

   .query-container {
      flex-direction: column;
   }

}
